<div class="container">
    <form #addCustomerForm="ngForm" (submit)="addCustomer(addCustomerForm)">
    <div class="form-group">
        <label>First name :</label>
        <input type="text" [(ngModel)]='firstName' name="firstName" class="form-control" placeholder="">
    </div>
    <div class="form-group">
        <label>Last name :</label>
        <input type="text" [(ngModel)]='lastName' name="laststName" class="form-control" placeholder="">
    </div>
    <button class="btn btn-primary">Add Customer</button>
    </form>
  
</div>