p{
    border-style:inset;
    border-width: 10px;
    border-radius: 10px;
    border-color: gold;
    padding: 5px;
    border-spacing: 10px;
}
body{
   
    background-image: url("img_1.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-size:cover;
    width: 100%;
    height: 100%;
}