<div class="container">
    <div>
    <button (click)="onClick()" type="button" class="btn btn-primary">
        Go to Child
    </button>
</div>
<!-- <app-child title="parentTitle" (parentFn)="parentFn($event)"></app-child> -->
<div>

