<div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">   
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="home" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="parent" >Parent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="child">Child</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="pagination">Pagination</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="user">User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="rxjs">Rxjs</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" routerLinkActive="active" routerLink="reactive">Reactive</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
