<div class="container">
    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>EmployeeName</th>
                <th>EmployeeTime</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">{{employeeName | uppercase}}</td>
                <td>{{employeeTime | date:'shortDate' | uppercase}}</td>
                <td>{{employeeWork +employeeLeave/10 *100 | percent}}</td>
                <td>{{employeeSalary|currency:'INR'}}</td>
            </tr>
        </tbody>
    </table>
</div>