<div class="container">
<form class="form" [formGroup]="customerForm">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <input type="text" id="form6Example1" class="form-control" formControlName="firstName">
          <label class="form-label" for="form6Example1">First name</label>
        </div>
        <div class="validation" *ngIf="customerForm.get('firstName').invalid && (customerForm.get('firstName').dirty || customerForm.get('firstName').touched)">*first name is reqired
        </div>
      </div>
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <input type="text" id="form6Example2" class="form-control" formControlName="lastName" />
          <label class="form-label" for="form6Example2">Last name</label>
        </div>
        <div class="validation" *ngIf="customerForm.get('lastName').invalid && (customerForm.get('lastName').dirty || customerForm.get('lastName').touched)">*last name is required
        </div>
      </div>
    </div>
  
    <!-- Text input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="text" id="form6Example3" class="form-control"formControlName="companyName" />
      <label class="form-label" for="form6Example3">Company name</label>
    <div class="validation" *ngIf="customerForm.get('companyName').invalid && (customerForm.get('companyName').dirty || customerForm.get('companyName').touched)">*comapny name is required
    </div>
    </div>
    <!-- Text input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="text" id="form6Example4" class="form-control" formControlName="address"/>
      <label class="form-label" for="form6Example4">Address</label>
    <div class="validation" *ngIf="customerForm.get('address').invalid && (customerForm.get('address').dirty || customerForm.get('address').touched)">
    *address is required
    </div>
    </div>
  
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="email" id="form6Example5" class="form-control" formControlName="email"/>
      <label class="form-label" for="form6Example5">Email</label>
    <div class="validation" *ngIf="customerForm.get('email').invalid && (customerForm.get('email').dirty || customerForm.get('email').touched)">*email is required
    </div>
    </div>
    <!-- Number input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="text" id="form6Example6" class="form-control" formControlName="phone" />
      <label class="form-label" for="form6Example6">*Phone</label>
    <div class="validation" *ngIf="customerForm.get('phone').invalid && (customerForm.get('phone').dirty || customerForm.get('phone').touched)">*phone is required
    </div>
</div>
  
    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
      <input
        class="form-check-input me-2"
        type="checkbox"
        value=""
        id="form6Example8"
        checked
      />
      <label class="form-check-label" for="form6Example8"> Create an account? </label>
    </div>
  
    <!-- Submit button -->
    <button   type="submit" class="btn btn-primary btn-block mb-4">Place order</button>
  </form>
</div>