<div class="container">
    <div>{{title}}</div>
    <div>
        <input type="text" [value]="value"/>
    </div>
    <div style="margin-top: 10px;">
        <button class="btn btn-primary" (click)="onClick()">
            Click me
        </button>
    </div>
    <div>
        <p>Two way Data binding</p>
        <input type="text" [(ngModel)]="title"/>
    </div>
</div>
<div class="container">
    <!-- nonrelated components -->
    <app-pipe></app-pipe>
</div>

